.faculty-dash-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-image: url("../../assets/fac-bg3.png");
  background-size: cover;     /* scale image to cover the element */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
  }
  
  .faculty-dash-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
  }
  
  .faculty-dash-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 60px;
    color: #013c28;
    text-shadow: 2px 2px 5px #eeffd8;
  }
  
  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dashboard-card {
    padding: 20px;
    background: #eeffd8;
    box-shadow: 0 4px 10px #025d1f;
    border-radius: 10px;
    text-align: center;
    border-left: 5px solid #013c28;
    transition: transform 0.3s ease-in-out;
  }
  
  .dashboard-card:hover {
    transform: translateY(-5px);
    background-color: white;
  }
  
  .dashboard-card h2 {
    color: #013c28;
    font-size: 18px;
  }
  
  .dashboard-card p {
    font-size: 28px;
    font-weight: bold;
    color: #025d1f;
  }
  